.form__fieldset {
    padding: 20px;
    border: 3px solid var(--colorPrime)
}

.form__flexbox {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form__inputList {
    list-style: none;
    flex-basis: 300px;
    
}

.form__inputContainer {
    flex-basis: 300px;
    margin: 0 auto;
    text-align: center;
}

.form__discription {
    display: inline-block;
    margin: 10px 10px;
}

.form__input {
    display: inline-block;
    padding: 5px;
    border: 1px solid var(--colorPrime)
}

.form__text {
    max-width: 400px;
    padding: 10px;
    border: 3px solid var(--colorPrime);
    margin: 20px auto;
    text-align: center;
}

.form__paragraph {
    display: block;
    height: 2em;
    font-weight: bold;
}

.form__button {
    display: block;
    width: 200px;
    padding: 20px;
    border: 3px solid var(--colorPrime);
    background-color: transparent;
    margin: 20px auto;
    transition: 0.3s
}

.form__button:hover {
    background-color: var(--colorPrime);
}

.form__button:focus {
    background-color: hsl(135, 67%, 63%);
    outline: none;
}

.form__answer {
    text-align: center;
    font-size: 30px;
    margin: 40px auto;
    max-width: 80%;
}