.table {
    max-width: 600px;
    overflow-x: auto;
    padding: 20px;
    margin: 0 auto;
}

.table__container {
    border-collapse: collapse;
    width: 100%;
}

.table__caption {
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    margin: 10px 0;
}

.table__cell {
    padding: 20px;
    border: 3px solid #333;
    text-align: center;
}

.table__header {
    background: var(--colorPrime);
    text-transform: uppercase;
    font-weight: 400;
}