html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  --colorPrime: hsl(135, 57%, 63%);
  color: #333;
}